* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-image: url(../assets/images/code\ 2.jpg);
    background-size:contain;
}
.header {
    background-color: black;
    color: #ffff;
    padding: 15px;
    flex-wrap: wrap;
}

.header h1 {
    font-size: 45px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight:lighter;
}

.header nav {
    margin: 10px;
}


.links ul nav {
    font-size: 25px;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    align-items: center;
    list-style: none;
}

.links ul nav a {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}
/*Hero*/

.hero {
    height: 500px;
    background-image: url(../assets/images/computer\ keys.jpg);
    background-size: cover;
    background-position: center ;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    background-position: 80%;
    border-bottom: silver solid;
}

.hero h1 {
    color:white;
    text-align: center;
}

.about {
    background-color: silver;
    color: azure;
    height: 300px;

}

.about h2 {
    text-align: center;
}

.about h2 p {
    background-color: azure;
}

.projects {
    display: flex;
    justify-content: space-evenly;
    height: 800px;
    color: azure;
    text-align: start;
}

.box1 {
    background-color: silver;
    width: 300px;
}

.box2 {
    background-color: slategray;
    width: 300px;
}

.box3 {
    background-color: gray;
    width: 300px;
}

.footer {
    border: white 10px;
    background-color: white;
}