* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-image: url(../assets/images/IMG_3521.jpg);
    background-size: cover;
}
.header {
    background-color: black;
    color: #ffff;
    padding: 15px;
    flex-wrap: wrap;
}

.header h1 {
    font-weight:lighter;
    font-size: 45px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.links {
    text-align: right;
    size: 35px;
}
.links ul nav {
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    align-items: center;
    list-style: none;
}

.about {
    color: azure;
    height: 300px;

}

.about h2 {
    text-align: center;
}

.about h2 p {
    background-color: azure;
}

.projects {
    display: flex;
    justify-content: space-evenly;
    height: 800px;
}
.projects h2 {
    text-align: center;
    color: azure;
}
.box1 {
    background-color: silver;
    width: 300px;
}

.box2 {
    background-color: slategray;
    width: 300px;
}

.box3 {
    background-color: gray;
    width: 300px;
}

.footer {
    border: white 10px;
    background-color: white;
}