* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: normal;
}

/*BODY*/

body {
    background-color: #143a52;
    background-size:contain;
    flex-wrap: wrap;
}

/*HEADER*/

.header {
    background-color: #143a52;
    color: #D0D2D5;
    padding: 15px;
    flex-wrap: wrap;
}

.header h1 {
    font-size: 45px;
    text-shadow: 1px 1px gray;
    font-weight:lighter;
}

.header nav {
    margin: 10px;
}


.links ul nav {
    font-size: 25px;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    align-items: center;
    list-style: none;
    
}

a:visited {
    color: #D0D2D5;
    text-decoration: none;
}

a {
    text-decoration: none;
}

a:hover {
    color: #275d83;
}

/*Hero*/

.hero {
    height: 500px;
    background-image: url(../assets/images/computer\ keys.jpg);
    background-size: cover;
    background-position: center ;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    background-position: 80%;
    text-align: left;
}

/*ABOUT*/

.about {
    display: flex;
    background-color: #c1bab1;
    color:black;
    height: auto;
    padding: 50px;
}

.floatright p {
    float: right;
}

img {
    float: none;
    border-radius: 50%;

}


.about img {
    display: flex;
    margin-right: 30px;
    margin-left: 30px;
    max-width: 200px;
    max-height: 400px;
    object-fit: contain;
}


/*PROJECTS*/

.textDiv {
    background-color: azure;
    opacity: .75;
    text-align: center;
}


.projects img {
    max-width: 500px;
    max-height: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}


#projectContainer{
    display: flex;
    align-content: flex-end;
    justify-content: space-around; 
    flex: wrap;
} 

a:hover .projects {
    color: #c1bab1;
}
    


.box1 {
    display: inline-flex;
    background-color: silver;
    height: 700px;
    width: 300px;
    align-self: flex-end;
    margin: 30px;
    padding: 10px;
}

.box2 {
    display: inline-flex;
    background-color: slategray;
    height: 600px;
    width: 300px;
    align-self: flex-end;
    margin-bottom: 30px;
    padding: 10px;
}

.box3 {
    display: inline-flex;
    background-color: gray;
    height: 500px;
    width: 300px;
    align-self: flex-end;
    margin-bottom: 30px;
    padding: 10px;
}

/*FOOTER*/

.footer {
    border: white 10px;
    background-color: #275d83;
    height: 75px;
    text-align: right;
}
.footerText {
    margin-right: 30px;
    font-size: 24px;
    color: #D0D2D5;
}

.footer li {
    align-content: space-between;
    justify-content: space-evenly;
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }

    header h1 {
        width: 100%;
        text-align: center;
    }

    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }

    header nav ul li a {
        font-size: 20px;
    }
    
    footer h2, footer div {
        text-align: center;
        width: 100%;
    }

}

  
  /* MEDIA QUERY FOR TABLETS AND SMALLER */
  @media screen and (max-width: 768px) {

    #projectContainer {
        flex-wrap: wrap;
    }



  }
  
  /* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
  @media screen and (max-width: 575px) {


    .about img {
        display: block;
        float: none;
        margin: 0 auto 20px;
    }
    
    #projectContainer {
        flex-wrap: wrap;
    }

    .about h2 {
        float: left;
        text-align: wrap;
    }

    .footerText {
        display: flex;
        font-size: 15px;
        text-align: center;
    }

  }


